body{
    margin: 0;
}

header{
    background-color: dodgerblue;
    background-image: url("../img/pattern.png");
    height: 180px;
    padding-bottom: 20px;
}

.logo{
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    height: 180px;
    background-size: 400px;
    background-position: left bottom;
    margin-left: 10px;
    margin-bottom: 200px;
}

h1{
    font-size: 60px;
    margin: 0;
}

h2{
    color: grey;
    text-decoration: none;
}

.date{
    color: grey;
}

figure{
    margin: 0;
}

.description{
    font-size: 16px;
    margin: 0;
}

.article{
    font-size: 22px;
}

.list{
    font-size: 20px;
    margin-left: 0px;
}

.evidenziatura{
    background-color: yellow;
}

.monitor{
    background-image: url("../img/monitor.jpg");
}

.graph{
    background-image: url("../img/graph.jpg");
}

div{
    height: 200px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
    padding: 8px;
}

table{
    font-size: 20px;
    table-layout: auto;
    border-collapse: collapse;
}

thead{
    background-color: blue;
}

.color{
    background-color: aqua;
    margin: 0;
    padding: 0;
}

.white{
    background-color: white;
}
