body{
    margin: 0;
}

header{
    background-color: dodgerblue;
    background-image: url("../img/pattern.png");
    height: 180px;
}

div{
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    height: 180px;
    background-size: 400px;
    background-position: left bottom;
    margin-left: 10px;
    margin-bottom: 30px;
}

h1{
    font-size: 60px;
    margin: 0;
}

h2{
    color: grey;
}

.date{
    color: grey;
}

figure{
    margin: 0;
}