body{
    margin: 0;
}

header{
    background-color: dodgerblue;
    background-image: url("../img/pattern.png");
    height: 180px;
}

div{
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    height: 180px;
    background-size: 400px;
    background-position: left bottom;
    margin-left: 10px;
}

h1{
    margin: 0;
}